@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --story-font-size: 1.25rem;
}

ruby {
  ruby-position: over;
  ruby-align: justify;
}

rt {
  letter-spacing: 0.15em;
}

.word-token {
  white-space: nowrap;
}

.ruby-hidden rt {
  visibility: hidden;
}
